/* header start */ 
.header-top {
  padding: 33px 0;
  .wrapper {
    @extend %flex;
    @include justify-content(space-between);
  }

  @at-root {
    .social-items {
      @extend %flex;
      gap: 3px;

      a {
        width: 35px;
        height: 35px;;
        border-radius: 50%;
        @include display(block);
        @include position($position: relative);
        text-indent: -9999px;
        @include background(content-grey);
        @include color(black-color);

        &::before {
          @extend %icon;
          @include font($size: 10px);
          text-indent: 0;
        }
      }
    }

    @include onlyIcon($headerIcon);

    .logo {
      margin-left: 6%;
      a {
        @include color(black-color);
        @include font($size: 22px, $weight: 900, $text: capitalize);
      }
      span {
        @include color(primary-color);
      }
    }

    .header-form {
      width: 27%;
      @include position($position: relative);

      .input-group {
        input {
          width: 100%;
          padding: 12px;
          border-radius: 30px;
          @include background(content-grey);
          @include font($size: 10px);
        }
      }

      .input-control {
        @include position($position:absolute, $top: 0, $right: 0);
        span {
          width: 35px;
          height: 35px;;
          border-radius: 50%;
          @include display(block);
          @include position($position: relative);
          @extend %btn-color;

          &::before {
            content: "\f002";
            @extend %icon;
            @include font($size: 11px);
          }
        }
        input {
          text-indent: -9999px;
        }
      }

      input {
        border: none;
        outline: none;
      }
    }
  }
}

.header-bottom {
  @include background(primary-color);
  
  @at-root {
    .nav-items {
      @extend %flex;
      @include justify-content(center); 
      gap: 30px;

      a {
        padding: 18px 0;
        @include color(white-color);
        @include font($size: 10px, $weight: 600, $text: uppercase);
        letter-spacing: 1px;
      }
    }

    .active-nav {
      a { @include color(secondary-color); }
    }
    
    /* hamburger start */
    .hamburger {
      width: 35px;
      height: 35px;
      border: 1px solid #ffffff;
      border-radius: 2px;
      @include position($position: relative);
      @include display(none);
      cursor: pointer;
    }

    .bar {
      width: 50%;
      height: 2px;
      border-radius: 4px;
      @include position($position: absolute, $top: 50%, $left: 50%);
      @include display(inline-block);
      @include background(white-color);
      text-indent: -99999px;
      @extend %transition;
      @extend %transform-center;
    }

    .bar::before,
    .bar::after {
      content: "";
      @include position(100%, inherit, $position: absolute, $left: 0);
      background-color: inherit;
      @extend %transition;
    }

    .bar::before {
      @include position($top: -6px);
    }

    .bar::after {
      @include position($top: 6px);
    }

    .hamburger:hover .bar {
      @include transform(translate(-50%, -50%) rotate(45deg));
    }

    .hamburger:hover .bar::before {
      @include transform(translateY(6px) rotate(0));
    }

    .hamburger:hover .bar::after {
      @include transform(translateY(-6px) rotate(-90deg));
    }
    /* hamburger end */
  }
}
/* header end */ 