$colors : (white-color:#fff, black-color:#000, primary-color: #4E9525, secondary-color: #FBD342, light-green: #65A341, blog-green: #4F9526, btn-green: #396C1B, grey-text: #A29A97, content-grey: #F2F2F2, background-grey: #F8F9FA);

$devices:(large-desktop:"1280px", desktop:"1024px", tablet:"995px", ipad:"768px", largePhone:"640px", mediumPhone:"480px", smallPhone:"320px");

$headerIcon:(facebook:"\f39e", ball:"\f434", twitter:"\f099", instagram:"\f16d");

$footerIcon : (twitter:"\f099", facebook:"\f39e", instagram:"\e055");

$autoMargin : 0 auto;